.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 40rem;
}

.containerInformacion {
  width: 65rem;
  height: 40rem;
  /* background-color: red; */
  display: flex;
}

.containerInfoOne {
  width: 50%;
  height: 100%;
  /* background-color: blanchedalmond; */
  display: flex;
  flex-direction: column;
  flex-direction: column;
}

.containerTitle {
  width: 100%;
  height: 20%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.containerTitle h1 {
  font-size: 4rem;
  margin: 0;
  word-spacing: 1rem;
}

.line {
  width: 8rem;
  height: 0.4rem;
  border-radius: 6px;
  background-color: #4498e0;
}

.containerInfoOne p {
  font-size: 0.9rem;
  color: #525252dd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.containerInfoTwo {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 70%,
      #fffcf9 100%
    ),
    url(/TigreKarate_Enhanced.png);
}

.containerLineDivisor {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4498e0;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.212), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.containerFirstDiv {
  width: 14rem;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFirstDiv p {
  font-size: 2rem;
}
.containerSecondDiv p {
  font-size: 2rem;
}
.containerSecondDiv {
  width: 14rem;
  border-left: 0.2px solid #ffffff;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 40rem;
}

.containerCards {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.containerDojo {
  margin-top: 3rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
}

.containerImgDojo {
  width: 35%;
  height: 100%;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.322), 0 1px 3px rgba(0, 0, 0, 0.274);
}

.containerImgDojo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.containerTextDojo {
  width: 30%;
  height: 100%;
}

.headerDojo {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
}

.headerDojo span {
  font-size: 3rem;
  margin: 0;
}

.containerTextDojo p {
  font-size: 0.9rem;
  color: #525252dd;
}

.textDojo {
  width: 100%;
  height: 70%;
}

@media (max-width: 768px) {
  .containerInformacion {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .containerInfoTwo {
    width: 90%;
    height: 60rem;
  }
  .containerInfoOne {
    width: 90%;
    margin-bottom: 1.5rem;
  }
  .containerTitle {
    margin-bottom: 0.5rem;
  }
  .containerDojo {
    flex-direction: column;
    height: auto;
  }
  .containerImgDojo {
    width: 80%;
  }
  .containerTextDojo {
    width: 80%;
  }
  .headerDojo {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 670px) {
  .containerInfoTwo {
    width: 90%;
    height: 40rem;
  }
  .containerImgDojo {
    width: 95%;
  }
  .containerTextDojo {
    width: 90%;
  }
  .containerCards {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 667px) {
  .containerInfoTwo {
    width: 100%;
    height: 50rem;
    object-fit: contain;
  }
  .containerImgDojo {
    width: 90%;
  }
  .containerTextDojo {
    width: 90%;
  }
  .containerCards {
    flex-direction: column;
    gap: 2rem;
  }
}
