.containerInscrip {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5em;
}

.containerInfo {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid rgb(180, 180, 180);
  /* background-color: aqua; */
}

.containerInfo .contenedorTextoIP {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedorTextoIP {
  margin-top: 1.5rem;
}

.containerInfo span {
  color: var(--varText);
  font-size: 14px;
}

.containerInfo strong {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.containerInfo p {
  color: #6e6e6edd;
}

.contenedorCardIP {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.containerMessageIP {
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 209, 6);
  border-radius: 12px;
  gap: 12px;
}
.containerMessageIP2 {
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 12px;
  gap: 12px;
}

.containerMessageIP a {
  color: #fff;
}

.containerImage {
  width: 28px;
  height: 28px;
}

.containerInfo2 {
  width: 100%;
  min-height: 20rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  flex-wrap: wrap;
  /* background-color: red; */
}
.containerInfo3 {
  width: 100%;
  min-height: 40rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  flex-wrap: wrap;

  /* background-color: rgb(61, 9, 9); */
}

.containerRequisitos {
  min-width: 588px;
  height: 12rem;
  /* background-color: red; */
  overflow: hidden;
  display: flex;
}
.contenedorBloque1Card {
  width: 50%;
  height: 100%;
  border-right: 1px solid #6e6e6edd;
}
.contenedorBloque2Card {
  width: 50%;
  height: 100%;
  border-left: 1px solid #f1f1f1;
}

.containerRequisitosHder {
  width: 100%;
  height: 15%;
}

.containerRequisitosHder p {
  font-size: 1.4rem;
  text-align: center;
}

.containerRequisitosArti div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerRequisitosArti {
  width: 100%;
  height: 85%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerRequisitosArti p {
  color: #6e6e6edd;
}

.contenedorInfoMaps {
  width: 40rem;
  height: 26rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.contenedorInfoMaps p {
  font-size: 1.4rem;
}

.contenedorInfoMaps span {
  color: #6e6e6edd;
}

@media (max-width: 670px) {
  .containerRequisitos {
    width: 100%;
    min-width: 0;
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  .contenedorBloque1Card {
    border: none;
    gap: 12px;
    width: 100%;
  }
  .contenedorBloque2Card {
    border: none;
    gap: 12px;
    width: 100%;
  }
  .containerRequisitosArti div {
    gap: 0.2rem;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .containerRequisitosHder {
    margin-bottom: 0.5rem;
  }
  .contenedorInfoMaps {
    width: 95%;
  }
  .containerInfo2 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .containerInfo2 {
    margin-bottom: 1rem;
  }
}
