.containerInscrip {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2.5em;
}

.containerInfo {
  width: 100%;
  height: 40%;
  /* background-color: aqua; */
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.containerInfo .contenedorTextoIP {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedorTextoIP {
  margin-top: 1.5rem;
}

.containerInfo span {
  color: var(--varText);
  font-size: 14px;
}

.containerInfo strong {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.containerInfo p {
  color: #6e6e6edd;
}

.contenedorCardIP {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.containerMessageIP {
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 209, 6);
  border-radius: 12px;
  gap: 12px;
}
.containerMessageIP2 {
  width: 10rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 12px;
  gap: 12px;
}

.containerMessageIP a {
  color: #fff;
}

.containerImage {
  width: 28px;
  height: 28px;
}

.containerInfo2 {
  width: 100%;
  min-height: 40rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  flex-wrap: wrap;
  /* background-color: red; */
}
.containerInfo3 {
  width: 100%;
  min-height: 40rem;
  height: auto;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  flex-direction: column;
  flex-wrap: wrap;

  /* background-color: red; */
}

.containerRequisitos {
  width: 60%;
  height: 15rem;
  /* background-color: red; */
  overflow: hidden;
  border-bottom: 1px solid #8a8a8a;
  border-right: 1px solid #8a8a8a;
  display: flex;
}
.contenedorBloque1Card {
  width: 50%;
  height: 100%;
}
.contenedorBloque2Card {
  width: 50%;
  height: 100%;
}

.containerRequisitosHder {
  width: 100%;
  height: 15%;
}

.containerRequisitosHder p {
  font-size: 1.4rem;
}

.containerRequisitosArti {
  width: 100%;
  height: 85%;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerRequisitosArti p {
  color: #6e6e6edd;
}
