.container {
  width: 100%;
  min-height: 12rem;
  max-height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262a2d;
}

.containerSection {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}

.containerImgFooter {
  width: 12rem;
  height: 3rem;
}

.containerImgFooter .image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lineFooter {
  width: 80%;
  height: 1px;
  background-color: #4498e0;
  border-radius: 6px;
}

.containerTexto {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: aliceblue;
}

.containerTexto a {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.containerTexto a:hover {
  color: #4497e0;
}
