.container {
  width: 70%;
  height: 16rem;
  border-radius: 12px;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerTitle {
  width: 90%;
  height: 50%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.containerTitle span {
  font-size: 1.5rem;
  font-weight: 500;
}

.containerMain {
  width: 90%;
  height: 80%;
  display: flex;
}

.containerLeft {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 0.6rem;
  text-align: start;
  flex-direction: column;
}

.containerLeft strong {
  font-size: 1.2rem;
  color: #4498e0;
}

.containerLeft p {
  color: #6e6e6edd;
  width: 70%;
  height: auto;
  overflow-wrap: break-word;
}

.containerRight {
  width: 50%;
  height: 100%;
  display: flex;
}

.containerDateTorneo {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.containerDateTorneo span {
  font-size: 3.5rem;
  font-weight: 700;
}
.containerDateTorneo p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #4498e0;
}

.containerbuttonTorneo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.buttonTorneo {
  width: 7rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4498e0;
  border-radius: 6px;
  border: none;
  color: #fff;
}

@media (max-width: 670px) {
  .container {
    width: 95%;
    height: auto;
    padding: 0.8rem;
  }
  .containerLeft strong {
    font-size: 0.9rem;
  }
  .buttonTorneo {
    width: 5rem;
    height: 2.2rem;
  }
  .containerDateTorneo span {
    font-size: 2.5rem;
  }
  .containerLeft p {
    font-size: 0.8rem;
  }
}
