/* Todo esto conforma la primera parte de la página */
.containerHome {
  width: 100vw;
  height: 36.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
  /* background-color: red; */
  animation: fadeIn 1s ease-out;
}

.containerTextImage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.containerTextHome,
.containerImgLogoHome {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Texto */
.containerTextHome {
  /* background-color: blue; */
  flex-direction: column;
  gap: 1.8em;
}

.containerTextHome div {
  max-width: 32em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerTextHome div p {
  color: #6e6e6edd;
  text-align: center;
  font-size: 14px;
}

.containerTextHome div h1 {
  font-size: 4em;
  font-weight: 700;
  color: black;
  text-align: center;
}

/* Imagen */
/* .containerImgLogoHome {
  background-color: green;
} */

.containerImgLogoHome div {
  width: 30em;
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerImgLogoHome div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.containerJoinToUs {
  width: 32em;
  height: 4.5rem;
  border-radius: 6px;
  background-color: #262a2d;
  box-shadow: -8px 10px 5px 0px rgba(105, 148, 230, 0.658);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.containerJoinToUs span {
  color: #fff;
  font-size: 14px;
}

.containerJoinToUs button {
  width: 6rem;
  height: 2.5rem;
  color: #fff;
  background-color: #4498e0;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.containerJoinToUs button:hover {
  background-color: #4497e0ab;
}

/* ---------------------------- */

/* Esto conforma la segunda parte de la página */

.containerHome2 {
  width: 100%;
  min-height: 38rem;
  display: flex;
  flex-direction: column;
}

.containerMini {
  width: 100%;
}

.containerMiniCards {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 1rem;
}

.containerMiniCards p {
  margin: 0;
  font-size: 20px;
}

.containerMiniCards2 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.containerCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.containerSecondImg {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 1.8em;
}

.containerSecondText {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 1.8em;
}

.recuadroImg {
  width: 35em;
  height: 25em;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  background-color: #f9f4ec;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.116), 0 1px 3px rgba(0,0,0,0.06);
}

.contenedorImg {
  width: 90%;
  height: 70%;
  border-radius: 6px;
  overflow: hidden;
}

.contenedorImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedorTexto {
  width: 90%;
  height: 18%;
  overflow: hidden;
  text-wrap: wrap;
  text-overflow: ellipsis;
}

.contenedorTexto p {
  font-size: 14px;
  color: #1d1d1ddd;
}

/* TARJETA TEXTO */
.recuadroTexto {
  width: 35em;
  height: 25em;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 1.8rem;
  text-wrap: wrap;
}

.recuadroTexto span {
  font-size: 18px;
  font-weight: 500;
}

.recuadroTexto strong {
  font-weight: 800;
  font-size: 38px;
  line-height: 4rem;
}

.recuadroTexto p {
  color: #6e6e6edd;
  font-size: 14px;
}

.recuadroTexto a {
  margin-top: auto;
  color: #4498e0;
  font-weight: 500;
  text-decoration-line: underline;
}
/* Esto sería parte de la sección 3  */

.containerHome3 {
  width: 100%;
  height: 26rem;
  display: flex;
  flex-direction: column;
}

.containerBoxCards {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerHome3 .containerSubTitle {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.containerHome3 .containerSubTitle span {
  font-size: 2.2rem;
  font-weight: 600;
}

/* Esta parte es de la sección 4 */

.containerHome4 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  margin-bottom: 0.8rem;
}

.containerCardS4 {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: aquamarine; */
  gap: 2rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 1025px) {
  .containerHome {
    flex-direction: column;
    height: auto;
    margin-top: 0.5rem;
    gap: 1.2rem;
  }

  .containerTextImage {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }

  .containerTextHome,
  .containerImgLogoHome {
    width: 100%;
    flex: none; /* importante para mobile */
    justify-content: center;
    align-items: center;
  }

  .containerImgLogoHome div {
    width: 75%;
    height: auto;
  }

  .containerJoinToUs {
    width: 60%;
  }
  .containerHome2 {
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .containerCard {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerSecondImg {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerHome3 .containerSubTitle {
    height: auto;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media (max-width: 670px) {
  .containerJoinToUs {
    width: 95%;
    gap: 1rem;
    padding: 6px;
  }
  .containerMiniCards2 {
    gap: 6px;
  }
  .containerCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .containerSecondImg {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recuadroImg {
    width: 100%;
    height: auto;
    padding: 0.8rem;
  }
  .containerSecondText {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recuadroTexto {
    width: 100%;
    height: auto;
    padding: 6px;
  }
  .containerMiniCards {
    margin-bottom: 0;
  }
  .containerTextHome div p {
    padding: 6px;
  }
  .containerHome3 {
    height: auto;
    margin-bottom: 1rem;
  }
}
