.container {
  width: 12rem;
  height: 10rem;
  background-color: aquamarine;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.116), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.container img:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}
